body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,#000c66, #ff0040,  #00eaff);
    background-size: 200% 200%;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
}